.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 135deg, #e8e8ff 10%, #f4f9fa 100%);
}